{{#each this}}

  <li id='{{this.id}}' class='gallery__item'>

    <img
      class='gallery__img'
      src='https://image.tmdb.org/t/p/w500{{this.poster_path}}'
      alt=''
      width='280'
    />
    <p class='gallery__name'>{{this.title}}</p>
    <p class='gallery__info'>
      <span class='gallery__genre'>{{this.genre_ids}}</span>
      <span>{{this.release_date}}</span>
    </p>

  </li>

{{/each}}