<img
    class='backdrop__film-preview'
    src='https://image.tmdb.org/t/p/w500{{this.poster_path}}'
    alt=""
    width='240'
    data-video-open
  />
<div class='backdrop__content'>
  <h2 class='backdrop__title'>{{this.title}}</h2>
  <div class='backdrop__film-info'>
    <ul class='backdrop__property-list list'>
      <li class='backdrop__property-item'>Vote / Votes</li>
      <li class='backdrop__property-item'>Popularity</li>
      <li class='backdrop__property-item'>Original Title</li>
      <li class='backdrop__property-item'>Genre</li>
    </ul>
    <ul class='backdrop__value-list list'>
      <li class='backdrop__value-item'><span>{{this.vote_average}}</span> / {{vote_count}}</li>
      <li class='backdrop__value-item'>{{this.popularity}}</li>
      <li class='backdrop__value-item'>{{this.title}}</li>
      <li class='backdrop__value-item'>{{this.genres}}</li>
    </ul>
  </div>
  <h3 class='backdrop__subtitle'>About</h3>
  <p class='backdrop__description'>
    {{this.overview}}
  </p>
  <ul class='backdrop__list'>
    <li class='backdrop__item'>
      <button type='button' class='backdrop__btn'>
        add to Watched
      </button>
    </li>
    <li class='backdrop__item'>
      <button type='button' class='backdrop__btn'>
        add to queue
      </button>
    </li>
  </ul>
  </div>

